* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.natija {
    width: 100%;
    height: 1000vh;
    background: rgb(17 24 39);
    color: white;
}

.navv {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(45px);
    background-color: rgba(128, 128, 128, 0.125);
    z-index: 10;

}

.nav {
    width: 90%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav h1 {
    font-size: 30px;
}

.nav ul {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

aside {
    width: 25%;
    height: 100vh;
    backdrop-filter: blur(15px);
    background-color: rgba(128, 128, 128, 0.125);
    position: fixed;
    top: 70px;
    padding: 30px 20px;
    float: left;
    z-index: 5;
}

.category {
    width: 100%;
    height: 85vh;
    margin: auto;
    border-radius: 6px;
    padding: 50px 30px;
    background-color: rgba(128, 128, 128, 0.125);
}

.category ul {
    width: 100%;
    height: 70vh;
}

.category ul li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 5px;
    margin-bottom: 30px;
    border-radius: 6px;
    padding: 0 10px;
    background-color: rgba(128, 128, 128, 0.125);
    backdrop-filter: blur(15px);

}

.section {
    width: 75%;
    height: auto;
    float: right;
    position: relative;
    z-index: 1;
}

.menu {
    margin-left: 15px;
    font-size: 16px;
    color: #fff;
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
    display: none;
}

.navBar {
    transform: rotateX(-200px);
    transition: transform 1s;
}

@media screen and (max-width: 920px) {
    .menu {
        display: block;
    }

    .navBar {
        transform: rotateX(0deg);
        display: none;
    }

    aside {
        width: 40%;
    }

    .section {
        width: 90%;
        margin: auto;
        float: none;
    }
}










@media screen and (max-width:620px) {
    .menu {
        display: block;
        margin: 0 10px;
    }

    .navv ul {
        display: none;
    }

    aside {
        width: 50%;

    }

}

@media screen and (max-width:420px) {

    aside {
        width: 60%;
        background: rgba(128, 128, 128, 0.621);

    }

    aside .category {
        background: transparent;
    }

}