/* royhat.css */

/* General styles */
.royhat_body {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 6px;
}
.registerImg {
  width: 600px;
  height: 600px;
  height: auto;
  margin-left: 50px;
}
.registerImg img {
  animation: register_img 5s infinite;
}
form {
  width: 600px;
  height: 600px;
  padding: 0 50px;
}
.knopka {
  align-self: flex-start;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.knopka a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

.center {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #f4f4f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.royhat-h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.inputName,
.select-royhat {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.select-royhat:active {
  box-shadow: 0px 0px 5px #9370db;
  border: 1px solid #9370db;
}
.inputName:active {
  box-shadow: 0px 0px 5px #9370db;
  border: 1px solid #9370db;
}
.fanBtn {
  text-align: center;
  margin-top: 20px;
}

.fanButton {
  width: calc(100% - 20px);
  background-color: #9370db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
}

.fanButton:hover {
  background-color: #8a2be2;
}

@keyframes register_img {
  0% {
    transform: rotate(5deg) translateX(20px) rotate(-5deg);
  }
  100% {
    transform: rotate(1turn) translateX(20px) rotate(-1turn);
  }
}

/* Styles for tablets */
@media (min-width: 600px) and (max-width: 900px) {
  .royhat_body {
    width: 80%;
    height: 70vh;
    padding: 40px;
    margin: 0;
    grid-template-columns: auto;
  }
  .registerImg {
    width: 500px;
    height: 500px;
    height: auto;
    margin-left: 0px;
    display: none;
  }
  .registerImg img {
    animation: register_img 5s infinite;
  }
  form {
    width: 500px;
    height: 500px;
    padding: 0 50px;
  }
  .center {
    max-width: 600px;
  }

  .royhat-h1 {
    font-size: 28px;
  }

  .inputName,
  .select-royhat,
  .fanButton {
    font-size: 18px;
  }
}

/* Styles for phones */
@media (max-width: 599px) {
  .royhat_body {
    width: 100%;
    margin-top: 0;
    padding: 20px;
    background-color: #fff;
    flex-direction: column-reverse;
    grid-template-columns: auto;
  }
  .registerImg {
    width: 370px;
    height: auto;
    margin-left: 0px;
    /* display: none; */
  }
  .registerImg img {
    object-fit: cover;
    animation: register_img 5s infinite;
  }
  form {
    width: 370px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 0px;
  }
  .center {
    width: 120%;
    margin: auto;
    background-color: #f4f4f9;
  }

  .royhat-h1 {
    font-size: 20px;
  }

  .inputName,
  .select-royhat,
  .fanButton {
    font-size: 14px;
  }
}

/* Styles for desktops */
@media (min-width: 901px) {
  .royhat_body {
    padding: 60px;
  }

  .center {
    max-width: 700px;
  }

  .royhat-h1 {
    font-size: 32px;
  }

  .inputName,
  .select-royhat,
  .fanButton {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .royhat_body {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    row-gap: 30px;
    padding: 0;
  }
  .registerImg {
    width: 300px;
    height: auto;
    margin-left: 0px;
    /* display: none; */
  }
  .registerImg img {
    object-fit: cover;
    animation: register_img 5s infinite;
  }
  form {
    width: 370px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 0px;
  }
  .center {
    width: 100%;
    margin: auto;
    background-color: #f4f4f9;
  }
}


/* @media (max-width: 375px) {
  .royhat_body {
    height: 80vh;
    display: grid;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    grid-template-columns: auto;
    row-gap: 30px;
    padding: 0;
  }
  .registerImg {
    width: 300px;
    height: auto;
    margin-left: 0px;
  }
  .registerImg img {
    object-fit: cover;
    animation: register_img 5s infinite;
  }
  form {
    width: 370px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 0px;
  }
  .center {
    width: 100%;
    margin: auto;
    background-color: #f4f4f9;
  }
} */
