*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(17 24 39);
}
.table{
    width: 30%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px ;
    padding: 10px;
    border: 2px solid gray;
}
input{
    width: 100%;
    background: transparent;
    color: #fff;
    outline: none;
    border-bottom: 1px solid white;
}