* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.iframe {
    width: 100%;
    height: 600px;
}


.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}

.navbar1 {
    width: 100%;
    height: 70px;
    margin: auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    background: #10BC10;

}

.navUl {
    width: 400px;
    height: 70px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-between;
}
.navUl li {
    color: #fff;
    font-weight: 600;
}

.lineBig {
    width: 30px;
    height: 20px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    margin-left: 10px;
    display: none;
    cursor: pointer;
}

.lineBig div {
    width: 20px;
    height: 2px;
    margin-left: 2px;
    background-color: #fff;
    transition: .7s ease-in;
}

.knopka {
    margin: 8px;
    font-size: 16px;
    color: #000;
    border: 2px solid black;
    padding: 8px;
    border-radius: 50%;
}

.btn {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.jamoa {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
}

.jamoa_box {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    gap: 10px;
}

.toggle .line1 {
    transform: rotate(-47deg) translate(-4px, -5px);
    margin-top: 10px;
    margin-left: 8px;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(47deg) translate(-4px, -5px);
}





@media screen and (max-width: 920px) {
    .knopka {
        display: none;
    }
}






@media screen and (max-width: 770px) {
    .lineBig {
        display: grid;
    }

    .navUl {
        position: fixed;
        top: 70px;
        width: 100%;
        right: 0;
        height: 30%;
        display: grid;
        grid-template-columns: auto ;
        justify-content: start;
        background: rgba(255, 255, 255, 0.366);
        backdrop-filter: blur(30px);
        transform: translateY(-150%);
        transition: .7s ease-in;
        padding-left: 20px;
        box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.301);
        z-index: -1;
    }

    .navUl_active {
        width: 100%;
        transform: translateY(0%);
    }

    .navbar1 ul li {
        width: 150px;
        height: 40px;
        border-radius: 6px;
        padding: 5px 10px;
        background-color: #10BC10;
        color: #fff;
        font-weight: 600;
        transition: .5s;
    }
    .navbar1 ul li:hover {
        
        background-color: #fff;
        color: #10BC10;
    }

}




@media screen and (max-width: 400px) {



    .jamoa_box {
        align-items: center;
        justify-content: center;
        grid-template-columns: auto;
    }

    .jamoa_box img {
        width: 100%;
        height: 80%;
    }
}