* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.iframe {
    width: 100%;
    height: 600px;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #050A30;
    object-fit: cover;
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}

.navbar1 {
    width: 100%;
    height: 70px;
    margin: auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    background: #050A30;
}

.ishonch_h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
}

.ishonch_p {
    color: gray;
    font-size: 15px;
    margin-bottom: 40px;
}

.header {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    padding: 200px 50px 0 50px;
    column-gap: 20px;
}

.header_chap {
    width: 100%;
    height: auto;

}

.header_ong {
    width: 100%;
    height: auto;
    right: 0;
}
.header_ong img{
    width: 70%;
}

.navUl {
    width: 600px;
    height: 70px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-between;
}

.navUl li {
    color: #fff;
    font-weight: 600;
}
.navUl li a{
    width: 100%;
    height: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    grid-template-columns: auto auto;
}


.lineBig {
    width: 30px;
    height: 20px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    margin-left: 10px;
    display: none;
    cursor: pointer;
}

.lineBig div {
    width: 20px;
    height: 2px;
    margin-left: 2px;
    background-color: #fff;
    transition: .7s ease-in;
}

.knopka {
    margin: 8px;
    font-size: 16px;
    color: #000;
    border: 2px solid black;
    padding: 8px;
    border-radius: 50%;
}

.btn {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.jamoa {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
}

.jamoa_box {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    gap: 10px;
}

.toggle .line1 {
    transform: rotate(-47deg) translate(-4px, -5px);
    margin-top: 10px;
    margin-left: 8px;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(47deg) translate(-4px, -5px);
}

.iframe_box{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.loading{
    position: absolute;
    top: 300px;
    font-size: 40px;
}

@media screen and (max-width: 920px) {
    .knopka {
        display: none;
    }


}






@media screen and (max-width: 770px) {
    .lineBig {
        display: grid;
    }

    .header {
        display: flex;
        flex-wrap: wrap-reverse;
        padding-top: 100px;

    }

    .header_ong {
        width: 60%;
        margin: auto;
        margin-bottom: 20px;
    }
    .header_ong img{
        width: 100%;
        margin: auto;
        overflow: hidden;
        border-radius: 4px;
    }
    .ishonch_h1 {
        font-size: 40px;
    }
    .ishonch_p{
        font-size: 14px;
    }
 

    .navUl {
        position: fixed;
        top: 70px;
        width: 100%;
        right: 0;
        height: 250px;
        display: grid;
        grid-template-columns: auto;
        justify-content: start;
        background: #ffffff46;
        backdrop-filter: blur(15px);
        transform: translateY(-150%);
        transition: .7s ease-in;
        padding-left: 20px;
        box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.301);
        z-index: -1;
    }

    .navUl_active {
        width: 100%;
        transform: translateY(0%);
    }

    .navbar1 ul li {
        width: 150px;
        height: 40px;
        border-radius: 6px;
        padding: 5px 10px;
        background-color: #050A30;
        color: #fff;
        font-weight: 600;
        transition: .5s;
    }

    .navbar1 ul li:hover {

        background-color: #fff;
        box-shadow: 15px 15px  20px rgba(128, 128, 128, 0.574);
        color: #050A30;
    }

}




@media screen and (max-width: 420px) {



    .jamoa_box {
        align-items: center;
        justify-content: center;
        grid-template-columns: auto;
    }

    .jamoa_box img {
        width: 100%;
        height: 80%;
    }
    .navUl{
        height: 250px;
    }
    .header_chap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .header_ong {
        width: 90%;
    }
    
    .ishonch_h1 {
        font-size: 35px;
        text-align: center;
    }
    .ishonch_p{
        display: none;
    }
}